<li [ngClass]="{'list-group-item': true}">
  <div class="row">
    <div class="col-11">
      <h5>{{product.name}}</h5>
      <h6>Description : {{product.description}}</h6>
      <h6>S/N : {{product.serial_number}}</h6>
      <h6 *ngIf="product.price">Price : {{product.price}}€/{{product.price*10}}Coin</h6>
      <h6>Part :
        <a [routerLink]="'/product/'+linkedProduct?.id"> {{linkedProduct?.name}} </a>
      </h6>

      <a [routerLink]="'/product/'+[product.id]">Détails</a>
    </div>
    <div class="col-1">
      <button *ngIf="isAuth && !isInCard" class="btn btn-primary" (click)="addToCard()">Add to card</button>
      <button *ngIf="isAuth && isInCard" class="btn btn-danger" (click)="removeFromCard()">Remove from card</button>
    </div>
  </div>
</li>

