<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/user">
      Utilisateur
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/product">
      Produits
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/address">
      Adresses</a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/ordered">
      Commandes
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/send">
      Envoies</a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/entrepot">
      Entrepots
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/media">
      Médias
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/media-type">
      Types de média
    </a>
    <a routerLinkActive="active"
       class="list-group-item list-group-item-action list-group-item-light p-3"
       routerLink="/admin/don">
      Don
    </a>
  </div>
</div>

