<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <form *ngIf="address.length>0 && sends.length>0 && users.length>0 " [formGroup]="orderForm" (ngSubmit)="onSubmitForm()">
      <h2>Update un Envoie</h2>


      <div class="form-group">
        <label for="user">User</label>
        <select id="user" class="custom-select" formControlName="user">
          <option value=""></option>
          <option *ngFor="let user of users;" value="{{user.id}}">{{user.email}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <select id="address" class="custom-select" formControlName="address">
          <option value=""></option>
          <option *ngFor="let addr of address;" value="{{addr.id}}">{{addr.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="send">Send</label>
        <select id="send" class="custom-select" formControlName="send">
          <option value=""></option>
          <option *ngFor="let send of sends;" value="{{send.id}}">{{send.id}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="date">Date</label>
        <input type="datetime-local" id="date" class="form-control" formControlName="date">
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" formControlName="price">
      </div>

      <div class="form-group">
        <label for="coin">Used Coin</label>
        <input type="number" id="coin" class="form-control" formControlName="coin">
      </div>

      <div class="form-group">
        <label for="reducedPrice">Reduced Price</label>
        <input type="number" id="reducedPrice" class="form-control" formControlName="reducedPrice">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Soumettre</button>
    </form>
  </div>
</div>
