<li [ngClass]="{'list-group-item': true}">
  <h4>{{product.name}}</h4>
  <h6>Description : {{product.description}}</h6>
  <h6 *ngIf="product.price !== null">Price : {{product.price}}</h6>

  <h6 *ngIf="product.entrepot_store_id !== null">Entrepot :
    <a [routerLink]="'/admin/entrepot/'+entrepot?.id"> {{entrepot?.name}} </a>
  </h6>

  <h6 *ngIf="product.don_id !== null">Don :
    <a [routerLink]="'/admin/don/'+product?.don_id"> {{product?.don_id}} </a>
  </h6>

  <h6 *ngIf="product.order_id !== null">Order :
    <a [routerLink]="'/admin/ordered/'+product?.order_id"> {{product?.order_id}} </a>
  </h6>

  <a [routerLink]="[product.id]">Détails</a>
</li>
