<div class="row container-fluid">

  <div class="col-10">
    <div class="container-fluid" *ngIf="product !== undefined">
      <h4>{{product.name}}</h4>
      <h5>Description : {{product.description}}</h5>
      <h5>S/N : {{product.serial_number}}</h5>
      <h5>Price : {{product.price}}</h5>
      <h5 *ngIf="linkedProduct !== undefined">Part :
        <a [routerLink]="'/product/'+linkedProduct.id"> {{linkedProduct.name}} </a>
      </h5>

      <div class="col">
        <img *ngFor="let media of mediaProducts" class="img-thumbnail" [src]="mediaPath+media.media_id">
      </div>

    </div>
  </div>
</div>
