<div class="container-fluid">
  <div class="row">
    <div class="col" *ngIf="product !== undefined">
      <h4>{{product.name}}</h4>
      <h5>Description : {{product.description}}</h5>
      <h5>S/N : {{product.serial_number}}</h5>
      <h5 *ngIf="product.price">Price : {{product.price}}€/{{product.price * 10}}Coin</h5>
      <h5 *ngIf="linkedProduct !== undefined">Part :
        <a [routerLink]="'/product/'+linkedProduct.id"> {{linkedProduct.name}} </a>
      </h5>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let media of mediaProducts" class="col container-fluid">
      <img class="img-thumbnail " [src]="mediaPath+media.media_id">
    </div>
  </div>
</div>
