<div class="row container-fluid">
  <div class="col-2 border-right">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-10">
    <br>
    <h5>Nouveau : Employee</h5>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group">
        <label for="firstname">Prénom</label>
        <input type="text" id="firstname" class="form-control" formControlName="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Nom</label>
        <input type="text" id="lastname" class="form-control" formControlName="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <label for="entrepots">Entrepot</label>
      <select class="custom-select" name="entrepots" id="entrepots" >
        <option *ngFor="let entrepot of entrepots;" value="{{entrepot.id}}">{{entrepot.name}} </option>
      </select>
      <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Soumettre</button>
    </form>
  </div>
</div>
<!--TODO-->
