<div class="row container-fluid">
  <div class="col-2 border-right">
    <app-side-bar></app-side-bar>
  </div>
  <div class="col-10">
    <div class="container-fluid" *ngIf="user !== undefined">
      <h4>{{user.lastname}} {{user.firstname}}</h4>
      <h5>Id : {{user.id}}</h5>
      <h5>Email : {{user.email}}</h5>
      <h5>Recycle Coin : {{user.recycle_coins}}</h5>
      <h5>Address: </h5>
      <ul>
        <li *ngFor="let addr of address;">
          <a [routerLink]="'/admin/address/'+addr?.id"> {{addr?.name}} </a>
        </li>
      </ul>

      <a class="btn btn-primary" style="cursor: pointer;" (click)="onUpdate()" >Update</a>
      <a class="btn btn-danger" style="cursor: pointer;" (click)="onDelete()" >Supprimer</a>
    </div>
  </div>
</div>
